<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Candidate</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.vishal.candidate.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddHr</display-name>
    <servlet-name>AddHr</servlet-name>
    <servlet-class>com.vishal.candidate.AddHr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHr</servlet-name>
    <url-pattern>/AddHr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HRLogin</display-name>
    <servlet-name>HRLogin</servlet-name>
    <servlet-class>com.vishal.candidate.HRLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HRLogin</servlet-name>
    <url-pattern>/HRLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddJob</display-name>
    <servlet-name>AddJob</servlet-name>
    <servlet-class>com.vishal.candidate.AddJob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddJob</servlet-name>
    <url-pattern>/AddJob</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addmarks</display-name>
    <servlet-name>Addmarks</servlet-name>
    <servlet-class>com.vishal.candidate.Addmarks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addmarks</servlet-name>
    <url-pattern>/Addmarks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddQ</display-name>
    <servlet-name>AddQ</servlet-name>
    <servlet-class>com.vishal.candidate.AddQ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQ</servlet-name>
    <url-pattern>/AddQ</url-pattern>
  </servlet-mapping>
</web-app>